body {
    background-color: #484848;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
#horizon {
    position: absolute;
    /*
    top: 50%;
    margin-top: -330px;
    */
    left: 0;
    width: 100%;
}
#border {
    width: 920px;
    margin: 0 auto;
    background-color: #b8b8b8;
}
header {
    padding: 23px 23px 10px;
}
header h1 {
    padding: 0;
    margin: 0;
    color: #404040;
    font-size: 24px;
    font-weight: bold;
}
header h2 {
    padding-left: 2px;
    margin: 0;
    color: #707070;
    font-size: 14px;
    font-weight: normal;
}
ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 26px;
    background-color: #909090;
}
ul.menu li {
    float: left;
    height: 26px;
    line-height: 26px;
    border-color: #888888;
    border-style: solid;
    border-width: 0 1px;
    text-align: center;
    color: #505050;
    cursor: pointer;
}
ul.menu li:hover {
    background-color: #a0a0a0;
}
ul.menu li.active {
    background-color: #707070;
    color: white;
}
ul.menu a {
    color: #505050;
    text-decoration: none;
}
#content {
    position: relative;
    padding: 10px;
    background-color: #303030;
}
#levels {
    position: relative;
    width: 520px;
    margin: 0 auto;
}
ul.tabbar {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tabbar li {
    display: inline-block;
    margin: 3px 0px 3px 3px;
    padding: 2px 5px;
    background-color: #606060;
    color: white;
    cursor: pointer;
}
ul.tabbar li:hover {
    background-color: #404040;
}
ul.tabbar li.active {
    background-color: #909090;
}
#levellist-container {
    padding: 10px 0 40px 0;
    min-height: 480px;
    background-color: #808080;
}
#levellist {
    list-style: none;
    margin: 0;
    padding: 0;
}
li.levelitem {
    position: relative;
    width: 500px;
    height: 52px;
    margin: 5px auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: #b0b080;
}
li.levelitem:hover {
    background-color: #c0c090;
}
li.levelitem.solved {
    background-color: #707070;
}
li.levelitem.solved:hover {
    background-color: #808080;
}
li.levelitem div.title {
    position: absolute;
    top: 5px;
    left: 8px;
    font-size: 14px;
    font-weight: bold;
}
li.levelitem div.difficulty {
    position: absolute;
    top: 5px;
    right: 8px;
}
li.levelitem div.stats {
    position: absolute;
    bottom: 5px;
    left: 8px;
}
li.levelitem div.votes {
    position: absolute;
    bottom: 5px;
    right: 8px;
}
li.levelitem span.liked {
    color: darkgreen;
}
li.levelitem span.disliked {
    color: darkred;
}
#levellist a:link {
    color: black;
}
#levellist a:visited {
    color: black;
}
#refresh {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#pagecontrol {
    position: absolute;
    left: 50%;
    bottom: 10px;
}
#pagecontrol > div {
    width: 100%;
    margin-left: -50%;
}
#pagecurrent {
    width: 2em;
    text-align: right;
}
#hidesolved-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#scoreboard {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 180px;
    margin: 50px 10px 0px;
    padding-bottom: 10px;
    background-color: #808080;
    color: white;
    font-weight: normal;
    text-align: center;
}
#scoreboard h1 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#scoreboard table {
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}
#scoreboard .solved {
    width: 40px;
}
#scoreboard > a {
    text-align: center;
    margin-bottom: 10px;
}
#scoreboard a:link {
    color: #d0d0b0;
}
#scoreboard a:visited {
    color: #d0d0b0;
}
#content > div {
    display: none;
}
#menu-signout, #menu-user {
    display: none;
}
#dialogs, #templates {
    display: none;
}
